<div class="grid md:grid-cols-4 mt-6 gap-4 h-screen">
  <div class="col-span-1"></div>
  <div class="col-span-3">
    <h1 class="text-6xl font-bold mb-6">About us</h1>
    <p class="text-md font-medium w-4/5 mb-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti dolores molestias
      nemo quae quaerat qui saepe voluptas voluptatum? Aliquam aut ex ipsum, laudantium nemo
      neque nihil odio optio! Eum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti dolores molestias
      nemo quae quaerat qui saepe voluptas voluptatum? Aliquam aut ex ipsum, laudantium nemo
      neque nihil odio optio! Eum.
    </p>
    <p class="text-md font-medium w-4/5 mb-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti dolores molestias
      nemo quae quaerat qui saepe voluptas voluptatum? Aliquam aut ex ipsum, laudantium nemo
      neque nihil odio optio! Eum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti dolores molestias
      nemo quae quaerat qui saepe voluptas voluptatum? Aliquam aut ex ipsum, laudantium nemo
      neque nihil odio optio! Eum.
    </p>
    <p class="text-md font-medium w-4/5 mb-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti dolores molestias
      nemo quae quaerat qui saepe voluptas voluptatum? Aliquam aut ex ipsum, laudantium nemo
      neque nihil odio optio! Eum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti dolores molestias
      nemo quae quaerat qui saepe voluptas voluptatum? Aliquam aut ex ipsum, laudantium nemo
      neque nihil odio optio! Eum.
    </p>

  </div>
</div>