<section class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16 pt-20 text-center lg:pt-32">
  <h1 class="mx-auto max-w-4xl font-display text-5xl font-medium tracking-tight text-slate-900 sm:text-7xl">
    Procurement
    <span class="relative whitespace-nowrap text-blue-600">
      <svg aria-hidden="true" viewBox="0 0 418 42" class="absolute left-0 top-2/3 h-[0.58em] w-full fill-blue-300/70" preserveAspectRatio="none">
        <path
          d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2
            21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176
            9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108
            19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43
            12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157
            15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788
            7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203
            1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371
             2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"
        >
        </path>
      </svg>
      <span class="relative">made simple</span>
    </span> for businesses.
  </h1>

  <p class="mx-auto mt-6 max-w-2xl text-lg tracking-tight text-slate-700">
    Unlock opportunities, streamline processes, and discover the power of efficient
    procurement with Analytica.
  </p>

  <div class="mt-10 flex justify-center gap-x-6">
    <%= link_to 'Register today', new_company_onboarding_path, color: 'slate', variant: 'solid',
                class: 'group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm
                  font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2
                  bg-slate-900 text-white hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800
                  active:text-slate-300 focus-visible:outline-slate-900'
    %>

    <%= link_to new_company_session_path, color: 'slate', variant: 'outline',
                class: 'group inline-flex ring-1 items-center justify-center rounded-full py-2 px-4 text-sm focus:outline-none
                  ring-slate-200 text-slate-700 hover:text-slate-900 hover:ring-slate-300 active:bg-slate-100
                  active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300' do
    %>
      <span class="ml-3">Log in to your account</span>
    <% end %>
  </div>
</section>

<section class="bg-gray-200 pb-10 md:px-4 py-8">
  <div class="text-center mt-4 mb-[3em]">
    <h1 class="text-4xl my-2 font-semibold uppercase">Our Services</h1>
    <hr class="ring-2 ring-blue-600 border-blue-600 w-[30%] md:w-[10%] rounded-full mx-auto">
  </div>

  <div class="w-[90%] mx-auto md:px-10 grid grid-cols-1 md:grid-cols-4 gap-7 mb-4 py3em]">
    <div class="w-full bg-gradient-to-l from-gray-300 to-indigo-200 text-dark border border-blue-200 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md">
      <div class="col-span-2 text-lg font-bold capitalize rounded-md">
        Reverse auction
      </div>
      <div class="col-span-2 rounded-md text-gray-700">
        Ready for a game-changing twist on buying?
        Introducing Reverse Auctions - where sellers hustle to win your project! 🚀
      </div>
      <div class="col-span-1">
        <%= link_to reverse_auction_dashboards_path do %>
          <button class="rounded-md bg-gray-200 hover:bg-blue-700 hover:text-white duration-300 p-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link">
              <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
              <polyline points="15 3 21 3 21 9"></polyline>
              <line x1="10" y1="14" x2="21" y2="3"></line>
            </svg>
          </button>
        <% end %>
      </div>
    </div>
    <div class="w-full bg-gradient-to-l from-gray-300 to-indigo-200 text-dark border border-blue-200 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md">
      <div class="col-span-2 text-lg font-bold capitalize rounded-md">
        RFQs
      </div>
      <div class="col-span-2 rounded-md text-gray-700">
        Seamlessly request quotes, compare supplier offers, negotiate terms,
        and drive cost savings.Elevate your sourcing strategy with our RFQ solution.
      </div>
      <div class="col-span-1">
        <button class="rounded-md bg-gray-200 hover:bg-blue-700 hover:text-white duration-300 p-2">
          Coming soon
        </button>
      </div>
    </div>
    <div class="w-full bg-gradient-to-l from-gray-300 to-indigo-200 text-dark border border-blue-200 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md">
      <div class="col-span-2 text-lg font-bold capitalize rounded-md">
        Logistics
      </div>
      <div class="col-span-2 rounded-md text-gray-700">
        Find the latest logistics roles, connect with employers, and advance your career in the
        logistics industry. Your gateway to logistics job success awaits!
      </div>
      <div class="col-span-1">
        <button class="rounded-md bg-gray-200 hover:bg-blue-700 hover:text-white duration-300 p-2">
          Coming soon
        </button>
      </div>
    </div>
    <div class="w-full bg-gradient-to-l from-gray-300 to-indigo-200 text-dark border border-blue-200 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md">
      <div class="col-span-2 text-lg font-bold capitalize rounded-md">
        Tender board
      </div>
      <div class="col-span-2 rounded-md text-gray-700">
        Ready to revolutionize your tendering game? 🌐✨ Dive into the future with our Tender Board now!
      </div>
      <div class="col-span-1">
        <button class="rounded-md bg-gray-200 hover:bg-blue-700 hover:text-white duration-300 p-2">
          Coming soon
        </button>
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Trusted by Rails developers worldwide</h2>
        <p class="mt-4 text-lg leading-8 text-gray-600">We're here to help you grow your career as a developer.</p>
      </div>
      <dl class="mt-16 grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-600">Tutorials</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">675</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-600">Hours of content</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">140+</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-600">Rails Developers</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">70,000+</dd>
        </div>
        <div class="flex flex-col bg-gray-400/5 p-8">
          <dt class="text-sm font-semibold leading-6 text-gray-600">Average Rails Salary</dt>
          <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900">$124,000</dd>
        </div>
      </dl>
    </div>
  </div>
</section>


<section class="relative isolate overflow-hidden bg-gray-900 py-16 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
      <div class="max-w-xl lg:max-w-lg">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Stay in the loop...</h2>
        <p class="mt-4 text-lg leading-8 text-gray-300">Get updates about new auctions and new service updates.</p>
        <div class="mt-6 flex max-w-md gap-x-4">
          <label for="email-address" class="sr-only">Email address</label>
          <input id="email-address" name="email" type="email" autocomplete="email" required class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-white shadow-sm ring-1 ring-inset ring-white/10 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" placeholder="Enter your email">
          <button type="submit" class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Subscribe</button>
        </div>
      </div>
      <dl class="grid grid-cols-1 gap-x-8 gap-y-10 sm:grid-cols-2 lg:pt-2">
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
            </svg>
          </div>
          <dt class="mt-4 font-semibold text-white">Updates</dt>
          <dd class="mt-2 leading-7 text-gray-400">
            Effortlessly stay in the loop with real-time notifications on auctions.
            Your inbox, your control. No more missed opportunities, just winning bids.
          </dd>
        </div>
        <div class="flex flex-col items-start">
          <div class="rounded-md bg-white/5 p-2 ring-1 ring-white/10">
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 10-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 013.15 0v1.5m-3.15 0l.075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 013.15 0V15M6.9 7.575a1.575 1.575 0 10-3.15 0v8.175a6.75 6.75 0 006.75 6.75h2.018a5.25 5.25 0 003.712-1.538l1.732-1.732a5.25 5.25 0 001.538-3.712l.003-2.024a.668.668 0 01.198-.471 1.575 1.575 0 10-2.228-2.228 3.818 3.818 0 00-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0116.35 15m.002 0h-.002" />
            </svg>
          </div>
          <dt class="mt-4 font-semibold text-white">No spam</dt>
          <dd class="mt-2 leading-7 text-gray-400">
            Enjoy updates without the noise. We promise - no spam, just the good stuff.
            Your inbox, your rules.
          </dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="absolute left-1/2 top-0 -z-10 -translate-x-1/2 blur-3xl xl:-top-6" aria-hidden="true">
    <div class="aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-blue-700 to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
</section>

<section class="bg-indigo-200 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">Auctions every 24 hours</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">0</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">Tenders posted</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">12</dd>
      </div>
      <div class="mx-auto flex max-w-xs flex-col gap-y-4">
        <dt class="text-base leading-7 text-gray-600">New users annually</dt>
        <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">10</dd>
      </div>
    </dl>
  </div>
</section>

<footer class="container mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
  <div class="xl:grid xl:grid-cols-3 xl:gap-8">
    <div class="xl:col-span-1">
      <a href="/">
        <svg class="h-5 text-gray-700 dark:text-gray-300" version="1.1" viewBox="0 0 373 50" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" fill-rule="evenodd">
            <g transform="translate(0 -1)" fill="currentColor" fill-rule="nonzero">
              <g transform="translate(186.31 25.65) scale(-1 1) rotate(180) translate(-186.31 -24.75)">
                <g transform="translate(72.75 1.125)">
                  <path d="m40.946 40.815l-8.686-8.5561c-2.0415 2.0089-4.7964 3.3379-8.6529 3.3379-6.4174 0-10.955-4.9262-10.955-12.024 0-8.2641 5.3481-12.38 11.149-12.38 5.7041 0 8.9775 2.2372 10.274 6.6758h-10.63v9.0112h22.556c0.19575-1.4272 0.26125-2.7886 0.26125-4.083 0-15.136-11.247-22.72-21.91-22.72-14.26 0-24.307 9.7236-24.307 23.496 0 13.807 10.046 23.531 24.307 23.531 7.1944 0 12.737-2.3662 16.594-6.2881"></path>
                  <path d="m61.645 23.573c0-6.935 4.5712-11.731 11.182-11.731 6.6125 0 11.181 4.796 11.181 11.731 0 6.937-4.5688 11.732-11.181 11.732-6.6112 0-11.182-4.7954-11.182-11.732zm35.166 0c0-13.546-9.9512-23.529-23.984-23.529-14.034 0-23.983 9.9829-23.983 23.529 0 13.547 9.949 23.531 23.983 23.531 14.032 0 23.984-9.9834 23.984-23.531"></path>
                  <path d="m125.97 35.21v-8.0704h7.7788c3.045 0 5.2825 1.2638 5.2825 4.0181 0 2.7559-2.2375 4.0522-5.2825 4.0522h-7.7788zm25.508-4.0522c0-7.0005-4.0525-12.023-11.734-13.611l12.348-16.659h-14.519l-10.922 16.107h-0.68v-16.107h-12.318v45.373h20.224c11.539 0 17.601-5.9634 17.601-15.103"></path>
                  <path d="m173.75 20.527h9.3012l-4.635 13.417-4.6662-13.417zm29.2-19.64h-13.062l-3.0125 8.6538h-16.951l-2.9812-8.6538h-12.868l17.178 45.373h14.52l17.178-45.373"></path>
                  <polygon points="205.69 0.88721 218.01 0.88721 218.01 46.26 205.69 46.26"></polygon>
                  <polyline points="258 0.88721 223.84 0.88721 223.84 46.26 236.15 46.26 236.15 12.23 258 12.23 258 0.88721"></polyline>
                  <path d="m293.94 32.226c-2.9825 1.6866-7.4862 3.7916-13.094 3.7916-3.305 0-5.8325-0.90675-5.8325-2.9482 0-2.5601 4.6338-2.8194 9.2688-3.7281l1.4588-0.2915c9.365-1.8149 14.13-6.3188 14.13-13.287 0-11.474-9.6912-15.72-19.348-15.72-8.1362 0-15.524 1.9453-20.71 5.6406l6.0275 10.046c3.5962-2.1719 7.9412-4.667 14.844-4.667 3.305 0 5.7362 0.90679 5.7362 3.144 0 2.3662-2.8188 2.7866-8.4575 3.7582l-1.7188 0.292c-10.438 1.7822-14.779 6.2881-14.552 14.326 0.22625 8.6845 7.5188 14.487 18.409 14.487 5.93 0 11.279-0.61662 19.154-4.7651l-5.315-10.079z"></path>
                </g>
                <polygon points="0 0 30.514 49.398 30.556 48.978 28.185 7.9766"></polygon>
                <polygon points="61.027 0 30.514 49.398 30.514 48.809 34.695 7.9766"></polygon>
              </g>
            </g>
          </g>
        </svg>
      </a> <p class="mt-8 text-gray-700 text-sm leading-6 dark:text-gray-300">
      Screencast tutorials to help you learn Ruby on Rails, Javascript, Hotwire, Turbo, Stimulus.js, PostgreSQL, MySQL, Ubuntu, and more.
    </p>
      <div class="mt-8 flex">
        <a href="https://twitter.com/gorails" target="_blank" class="text-gray-600 hover:text-gray-700 dark:text-gray-400">
          <span class="sr-only">Twitter</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
          </svg>
        </a>
        <a href="https://github.com/gorails-screencasts" target="_blank" class="ml-6 text-gray-600 hover:text-gray-700 dark:text-gray-400">
          <span class="sr-only">GitHub</span>
          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-900 uppercase dark:text-white">
            Solutions
          </h4>
          <ul class="mt-4 list-none">
            <li>
              <a class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="/episodes">Rails Tutorials</a>
            </li>
            <li class="mt-4">
              <a class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="/start">Rails for Beginners course</a>
            </li>
            <li class="mt-4">
              <a target="_blank" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="https://courses.gorails.com">Rails Courses</a>
            </li>
            <li class="mt-4">
              <a target="_blank" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="https://jumpstartrails.com">Rails SaaS Template</a>
            </li>
            <li class="mt-4">
              <a target="_blank" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="https://hatchbox.io">Deploy Ruby on Rails</a>
            </li>
            <li class="mt-4">
              <a target="_blank" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="https://jobs.gorails.com">Ruby on Rails Jobs</a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-900 uppercase dark:text-white">
            Support
          </h4>
          <ul class="mt-4 list-none">
            <li>
              <a class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="/pricing">Pricing</a>
            </li>
            <li class="mt-4">
              <a class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="/testimonials">Testimonials</a>
            </li>
            <li class="mt-4">
              <a target="_blank" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="https://gorails.relationkit.io">Help</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-900 uppercase dark:text-white">
            Company
          </h4>
          <ul class="mt-4 list-none">
            <li>
              <a class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="/about">About Us</a>
            </li>
            <li class="mt-4">
              <a class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="/blog">Blog</a>
            </li>
            <li class="mt-4">
              <a target="_blank" class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="https://remoteruby.transistor.fm/?utm_source=gorails&amp;utm_medium=homepage">Remote Ruby Podcast</a>
            </li>
          </ul>
        </div>
        <div class="mt-12 md:mt-0">
          <h4 class="text-sm leading-5 font-semibold tracking-wider text-gray-900 uppercase dark:text-white">
            Legal
          </h4>
          <ul class="mt-4 list-none">
            <li class="mt-4">
              <a class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="/privacy">Privacy Policy</a>
            </li>
            <li class="mt-4">
              <a class="text-sm leading-6 text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-100" href="/terms">Terms of Service</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-12 border-t border-gray-100 pt-4 dark:border-gray-800">
    <p class="text-xs leading-6 text-gray-600">
      © 2024 GoRails, LLC. All rights reserved.
    </p>
  </div>
</footer>
