<style>
    .main {
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        border-radius: 5px;
        box-shadow: 10px;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .header {
        background-color: #2682df;
        border-radius: 5px;
        margin: 0 auto;
        max-width: 100%;
    }

    .header img {
        max-width: 100%;
        max-height: 50%;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
    }
</style>
<div class="main">
  
  <div>
    <h1 style="color: #2682df; font-weight: bold;">
      🎉 Finish account setup!
    </h1>
    <p>
      Thank you for setting up your password at Analytica. To ensure the security of your 
      account, we kindly ask you to confirm your password by clicking on the button below:
    </p>

    <p>
      For security reasons, this link is only valid for the next 48 hours.
    </p>

    <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>" style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 5px; margin-bottom: 20px;">
      Confirm Account Password
    </a>

    <p>
      Your account security is our top priority, and we appreciate your cooperation in completing 
      this step. If you have any questions or encounter any issues, please don't hesitate to contact
      our support team at support@analytica.com.
    </p>

  </div>
  <div>
    <p style="font-style: italic; font-size: 14px;">
      In case the button doesn't work, you can also copy and paste the following URL into your browser:
    </p>
    <p style="font-style: oblique; font-size: 12px; color: #2682df; text-decoration: none;" href="<%= confirmation_url(@resource, confirmation_token: @token) %>">
      <%= confirmation_url(@resource, confirmation_token: @token) %>
    </p>
  </div>
</div>
